.label {
    -fx-font-family: "Machineturingfont";
    -fx-text-fill: #2db563;
    -fx-font-weight: 500;
    -fx-font-size: 32;
    -fx-border-width: 2
}

.triangleLabels {
    -fx-border-color: transparent transparent #2db563 transparent;
}

.squareLabels {
    -fx-border-color: transparent #2db563 #2db563 #2db563;
}

.circleLabels {
    -fx-border-color: transparent transparent #2db563 transparent;
}

.BtriangleLabels {
    -fx-border-color: transparent transparent transparent transparent;
}

.BsquareLabels {
    -fx-border-color: transparent #2db563 transparent #2db563;
}

.BcircleLabels {
    -fx-border-color: transparent transparent transparent transparent;
}