.root {
    -fx-font-family: "JetBrains Mono";
    -fx-text-fill: white;
    -fx-background-color: #1e1f22;
}

.button {
    -fx-text-fill: white;
    -fx-border-radius: 6;
}

.greenbutton {
    -fx-background-color: #57965c;
}

.redbutton {
    -fx-background-color: #c94f4f;
}

.bluebutton {
    -fx-background-color: #3574f0;
    -fx-font-weight: bold;
}

.nocolorbutton {
    -fx-background-color: #2b2d30;
}

.combo-box .list-cell {
    -fx-background-color: rgb(57,59,64);
    -fx-text-fill: white;
}

.combo-box .list-cell:hover {
    -fx-background-color: #2E436E;
}

.combo-box .arrow-button {
    -fx-background-color: rgb(57,59,64);
}

.combo-box-popup {
    --border-color: transparent;
    -fx-border-color: transparent;
}

.hbox .label, .hbox .text {
    -fx-text-fill: white;
}

@font-face {
    font-family: 'jetbrains';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap') format('truetype');
}